node_modules/**/*
.expo/*
npm-debug.*
web-build/
web-report/
.DS_Store
PracticePerfect/Pods/*
PracticePerfect/PracticePerfect.xcodeproj/xcuserdata/*
PracticePerfect/PracticePerfect.xcworkspace/xcuserdata/*
